{% extends 'include/base.html' %}
{% load static %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'img/breadcrumbs-bg.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Blog Details</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Blog Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">

              <div class="post-img">
                <img src="{{bdetails.image.url}}" alt="" class="img-fluid">
              </div>

              <h2 class="title">{{bdetails.title}}</h2>

              <!-- End meta top -->

              <div class="content">

                <blockquote>
                  <p>
                    {{bdetails.content|safe}}
                  </p>
                </blockquote>

              </div><!-- End post content -->

              <div class="meta-bottom">
                <ul class="cats">
                  <div class="social-links">
                    <li><a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a></li>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                </div>
                </ul>
              </div><!-- End meta bottom -->

            </article><!-- End blog post -->
            <!-- End post author -->

            <!-- End blog comments -->

          </div>

          <div class="col-lg-4">

            <div class="sidebar">

              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="" class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <!-- End sidebar categories-->

              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Recent Posts</h3>

                <div class="mt-3">
                  {% for x in r_blog %}
                  <div class="post-item mt-3">
                    <img src="{{x.image.url}}" alt="">
                    <div>
                      <h4><a href="{% url 'blog-details' x.pk%}">{{x.title}}</a></h4>
                      <time datetime="2020-01-01"></time>
                    </div>
                  </div>
                  <!-- End recent post item-->
                  {% endfor %}
                </div>

              </div><!-- End sidebar recent posts-->

              <!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->

{% endblock content %}